{% extends "base.html" %}

{% block content %}


<div class="container-fluid" style="width: fit-content; margin-top: 4%">
    <div class="card text-center">
        <div class="card-header" style="background-color: darkseagreen">
            <h2>Inserisci le informazioni della tua foodbox</h2>
        </div>
        <div class="card-body">
            <form name="ins_box_form" style="margin-top: 2%" action="{{ url_for('create', utente =  session['user']['email']) }}" method="POST" role="form">
                <h4>
                <label for="name">Nome box</label>
                <br>
                <input type="text" name="nome" class="form-control" required placeholder="nome box">
                <br>
                <label for="name">Contenuto</label>
                <br>
                <input type="text" name="contenuto" class="form-control" required placeholder="contenuto">
                <br>
                <label>Tipo </label>
                <br>
                <input list="tipo" name="tipo" class="form-select" required placeholder="selezionare tipo dalla lista">
                <datalist id="tipo" name="tipo" >
                    <option value="CARNE" />
                    <option value="PESCE" />
                    <option value="BENI PRIMA NECESSITA'" />
                </datalist>
                <br>
                <label for="name">Quantità</label>
                <br>
                <input type="number" name="quantita" class="form-control" required placeholder="quantita">
                <br>
                <label for="name">Nome negozio</label>
                <br>
                <input type="text" name="negozio" class="form-control" required placeholder="nome negozio">
                <br>
                <label for="name">Indirizzo</label>
                <br>
                <input type="text" name="indirizzo" class="form-control" required placeholder="indirizzo">
                <br>
                </h4>
                <input type="submit" value="Carica la tua box" class="btn btn-outline-success btn-lg">
                <br>
            </form>
        </div>
    </div>
</div>


{% endblock %}