{% extends "base.html" %}

{% block content %}

    <div class="jumbotron-fluid m-3" >
        <h1 class="display-4 text-center" style="color: darkseagreen">Green City</h1>
        <hr class="my-4">
        <h5>Green city è una web app che nasce con l’obiettivo di riferire ai cittadini le iniziative ecologiche di cui dispone la sua città.</h5>
        <br>
        <p class="lead">
        Essa presenta le seguenti funzioni:
        </p>
        <ul>
            <li>
                Fornisce informazioni sulla raccolta differenziata, inserendo il tipo di rifiuto l'app restituisce come smaltirlo correttamente.
            </li>
            <li>
                Mappa relativa i punti d'interesse (campana abiti usati, campana vetro, isola ecologica, distributori acqua).
            </li>
            <li>
                Sezione FoodBox dove è possibile:
                <ol>
                    Creare una FoodBox
                </ol>
                <ol>
                    Prenotare una FoodBox
                </ol>
                <ol>
                    Visualizzare le prenotazioni effettuate
                </ol>
                <ol>
                    Gestire le FoodBox inserite
                </ol>
            </li>
        </ul>



        <div class="container-fluid" style="width: content-box; margin-top: 4%">
            <div class="card text-center">
                <div class="card-header" style="background-color: darkseagreen">
                    <h2>Mappa con delineati i punti d'interesse</h2>
                </div>
                <div class="card-body">
                    <div id="mapid" style="height: 1000px"></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}