{% extends "base.html" %}

{% block content %}
    <h1 class="text-center"><p class="text-success">GREEN CITY LOGIN</p></h1></div>

<div class="container-fluid" style="width: fit-content; margin-top: 4%">
    <div class="card text-center">
        <div class="card-header" style="background-color: darkseagreen">
            <h1>Crea un account</h1>
        </div>
        <div class="card-body">
            <form name="signup_form" >
                <h4>
                <label for="name">Nome e Cognome</label>
                <br><br>
                <input type="text" name="name" class="form-control" required placeholder="nome">
                <br>

                <label for="email">Email</label>
                <br><br>
                <input type="email" name="email" class="form-control" required placeholder="email">
                <br>

                <label for="password">Password</label>
                <br><br>
                <input type="password" name="password" class="form-control" required placeholder="password">
                <br>
                <p class="error error--hidden"></p>
                </h4>
                <input type="submit" value="Registrati" class="btn btn-outline-success btn-lg">
            </form>
        </div>
    </div>
    <br><br>
    <div class="card text-center">
        <div class="card-header" style="background-color: darkseagreen">
            <h1>Effettua l'accesso</h1>
        </div>
        <div class="card-body">
            <form name="login_form" >
                <h4>
                <label for="email">Email</label>
                <br><br>
                <input type="email" name="email" class="form-control" required placeholder="email">
                <br>

                <label for="password">Password</label>
                <br><br>
                <input type="password" name="password" class="form-control" required placeholder="password">
                <br>
                <p class="error error--hidden"></p>
                </h4>
                <input type="submit" value="Accedi" class="btn btn-outline-success btn-lg">

            </form>
        </div>
    </div>
</div>

{% endblock %}