{% extends "base.html" %}
{% block content %}


<div class="card text-center">
  <div class="card-header">
    Inserire nel box sottostante il rifiuto che si intende smaltire!
  </div>
  <div class="card-body">
    <form name="ricerca_form" action="{{ url_for('add_todo') }}" method="POST" role="form">

        <input type="text" name="new-todo" class="field" required>
        <br><br>
        <input type="submit" value="Ricerca" class="btn btn-success">
        <br>

      </form>

  </div>
  <div class="card-footer text-muted">
   <b>{{ dove }}</b>
  </div>
</div>




{% endblock %}